<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>Database</param-name>
        <param-value>disstestcommand</param-value>
    </context-param>
    <context-param>
        <param-name>User</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>Password</param-name>
        <param-value> </param-value>
    </context-param>
    <listener>
        <listener-class>Controllers.DBListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>TestingServlet</servlet-name>
        <servlet-class>Controllers.TestingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingServlet</servlet-name>
        <servlet-class>Controllers.TrainingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tests</servlet-name>
        <servlet-class>Controllers.Tests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTrainingData</servlet-name>
        <servlet-class>Controllers.AddTrainingData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDataFromDB</servlet-name>
        <servlet-class>Controllers.TestDataFromDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>Controllers.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformSearch</servlet-name>
        <servlet-class>Controllers.PerformSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortResultsServlet</servlet-name>
        <servlet-class>Controllers.SortResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterResultsServlet</servlet-name>
        <servlet-class>Controllers.FilterResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToLogin</servlet-name>
        <servlet-class>Controllers.GoToLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestingServlet</servlet-name>
        <url-pattern>/test.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainingServlet</servlet-name>
        <url-pattern>/train.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tests</servlet-name>
        <url-pattern>/tests.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTrainingData</servlet-name>
        <url-pattern>/AddTrainingData.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDataFromDB</servlet-name>
        <url-pattern>/TestDataFromDB.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformSearch</servlet-name>
        <url-pattern>/PerformSearch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortResultsServlet</servlet-name>
        <url-pattern>/sortResults.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterResultsServlet</servlet-name>
        <url-pattern>/filterResults.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToLogin</servlet-name>
        <url-pattern>/GoToLogin.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
