<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>Database</param-name>
        <param-value>dissertationtest</param-value>
    </context-param>
    <context-param>
        <param-name>User</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>Password</param-name>
        <param-value> </param-value>
    </context-param>
    <listener>
        <listener-class>Controllers.DBListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>TestingServlet</servlet-name>
        <servlet-class>Controllers.TestingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrainingServlet</servlet-name>
        <servlet-class>Controllers.TrainingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tests</servlet-name>
        <servlet-class>Controllers.Tests</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestingServlet</servlet-name>
        <url-pattern>/test.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrainingServlet</servlet-name>
        <url-pattern>/train.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tests</servlet-name>
        <url-pattern>/tests.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
